<div>
  <p>
    Bonjour
    {{name}},
  </p>
  <br />
  <p>
    Pour finaliser la création de votre compte, cliquez sur le lien ci-dessous :
    <a bref={{url}}> J'active mon compte</a>
  </p>
  <br />
  <p>
    Une fois votre compte validée, vous pourrez accéder à votre espace école en
    utilisant votre adresse e-mail comme identifiant et le mot de passe suivant
    :
    <br />
    <p style='color:blue'>Mot de passe : {{password}}</p>
  </p>
  <br />
  <p>
    Si ce lien ne fonctionen pas, copiez l'URL ci-dessous, puis collez-la dans
    une nouvelle fenêtre de navigateur.
  </p>
  <br />
  <p style='color:blue;  text-decoration: underline;'>{{url}}</p>
  <br />
  <p>
    Nous restons à votre disposition pour tout complément d'information.
  </p>
  <br />
  Cordialement,
  <a bref='dowi-algerie.com'>www.dowi-algerie.com</a>
  <p>Service client : {{number}}</p>
</div>